<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.0.2</string>
	<key>entities</key>
	<dict>
		<key>sample_b</key>
		<dict>
			<key>attributes</key>
			<dict>
				<key>date</key>
				<dict>
					<key>type</key>
					<string>date</string>
					<key>default</key>
					<date>2014-06-01T14:01:44Z</date>
				</dict>
			</dict>
		</dict>
		<key>sample_a</key>
		<dict>
			<key>relations</key>
			<dict>
				<key>children</key>
				<dict>
					<key>entity</key>
					<string>sample_b</string>
					<key>property</key>
					<string></string>
					<key>many</key>
					<false/>
				</dict>
			</dict>
			<key>attributes</key>
			<dict>
				<key>tall</key>
				<dict>
					<key>type</key>
					<string>float</string>
					<key>default</key>
					<real>167.5</real>
				</dict>
				<key>age</key>
				<dict>
					<key>type</key>
					<string>integer</string>
					<key>default</key>
					<integer>10</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>type</key>
					<string>string</string>
					<key>default</key>
					<string>titledefaultvalue</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
